*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
}

header{
    width: 100%;
    height: 700px;
    background-color: rgb(117, 166, 209);
    background-attachment: fixed; /* fijar la imagen, la imagen no se mueve */
    background-position: center; 
    background-size: cover; /*tamano de imagen se adapta al header*/
    position: relative; 
    overflow: hidden; /*Se oculta cada que se hace scroll*/
    color: rgb(20, 3, 22);
    text-align: center;
}

header .titulo{
    font-size: 120px;
}

header .textos{
    margin-top: 190px;
}

nav{
    text-align: right;
    margin: 50px;
}

nav a{
    display: inline-block;
    color: rgb(2, 2, 2);
    font-weight: 600;
    text-decoration: none;
    border: 1px solid rgb(67, 47, 179);
    padding: 3px;
}

nav a:hover{
    background-color: rgba(130, 204, 238, 0.692);
    color: black;
    text-decoration: none;
}

.contenedor{
    width: 95%;
    max-width: 1000px;
    margin:auto;
    overflow: hidden;
    padding: 40px;    
}

ul{
    list-style-type: circle;
}

.parrafo{
    margin-bottom: 15px;
    font-weight: 300;
    text-align: justify;
    line-height: 20px;
}

.titulo{
    font-size: 60px
}

.galeria{
    width: 100%;
    height: 500px;
    overflow: hidden;
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.imagenes{
    width: 25%;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.imagenes img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}